nav{
    display: flex;
    justify-content: space-between;
    max-height: 20vh;
}
a { padding: 10px;
    text-decoration: none;
    color: black;
}
ul a:hover {
    border-bottom: 2px solid aquamarine;
    color: brown;

}

img{
    width: 30px;
}