nav{
    display: flex;
    justify-content: space-between;
    max-height: 20vh;
}
a { padding: 10px;
    text-decoration: none;
    color: black;
}
ul a:hover {
    border-bottom: 2px solid aquamarine;
    color: brown;
}

#home{
    background-color: rgb(67, 241, 227);
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.text{
    color: azure;
    margin-bottom: 10px;
}

.img-container img{
    width: 200px;
    margin-bottom: 10px; 
}
.cloe{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(248, 247, 245);
    height:10vh;
}
.container{
    color: gray;
}
