/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #43f1e3;
}