/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #43f1e3;
}

nav h3{
    font-size: 24px;
    color: black;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav a:hover{
    color: brown;
}

/* Appointment form section */

#appointment.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f7f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#appointment h2 {
    font-size: 24px;
    color: #08aa9d;
    border-bottom: 3px solid #43f1e3;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: center;
}
.appointment-form label {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    display: block;
}

.appointment-form input, 
.appointment-form select, 
.appointment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}